nav {
  z-index: 10;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  padding-left: 2em;
  padding-right: 2em;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  padding-left: 10px;
  float: left;
  color: #e8fdff;
  font-size: 2em;
  line-height: 2.5em;
}

#nav-bar .composeButton {
  border-radius: 12px;
  background-color: mediumseagreen;
  float: right;
  margin: 15px;
  height: 50px;
  transition: background-color 0.3s ease;
}

#nav-bar .composeButton:hover {
  border-radius: 12px;
  background-color: mintcream;
  float: right;
  margin: 15px;
  height: 50px;
}
